// ==========================================================================
// Placeholders
// ==========================================================================

// Panel

%panel-default {
  padding-top: em(30px);
  @include mq(medium) {
    padding-bottom: em(20px);
  }
}

%panel-padding {
  padding-top: em(34px);
  @include mq(medium) {
    padding-top: em(80px);
    padding-bottom: em(34px);
  }
}

// In use
%panel-sm-padding {
  padding-top: 0;
  @include mq(medium) {
    padding-top: 0;
    padding-bottom: em(10px);
  }
}
