// ==========================================================================
// Grid Columns
// ==========================================================================

// Calculate grid columns

.grid__col {

  // Mobile
  @include mq(large)  {
    @include g-columns;
  }
  // Tablet
  @include mq(medium)  {
    @include g-columns-medium;
  }
  // Desktop
  @include mq(small)  {
    @include g-columns-small;
  }

}

// Column styles

// Mobile
[class*="grid__col-sm--"] {
  @include mq(small)  {
    @include doubly(percentage($g-gutter-width / $context));
    float: left;
    min-height: 1px;
    padding-left: 0px;
    padding-right: 0px;
    &:last-of-type {
      float: right;
    }
  }
}

// Tablet
[class*="grid__col-md--"] {
  @include mq(medium) {
    @include doubly(percentage($g-gutter-width / $context));
    float: left;
    min-height: 1px;
    padding-left: 0px;
    padding-right: 0px;
    &:last-of-type {
      float: right !important;
    }
  }
}

// Desktop
[class*="grid__col--"] {
  @include mq(large) {
    @include doubly(percentage($g-gutter-width / $context));
    float: left;
    min-height: 1px;
    padding-left: 0px;
    padding-right: 0px;
    &:last-of-type {
      float: right !important;
    }
  }
}
